<a href="https://colab.research.google.com/github/AhmedSaad1986/Anomalies-Outliers-Introduction-to-detection-and-Automation-with-exambles/blob/main/s02_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering Assignments

**Today's Exercises:**
- Feature Scaling & Transformation
- Feature Encoding (Categorical Data)
- Feature Cleaning & Imputation

### Importing Libraries & Datasets

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Study/Information Technology/Data Science/Machine Leaning/s02-feature-engineering/datasets/stackoverflow.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SurveyDate                  999 non-null    object
 1   FormalEducation             999 non-null    object
 2   ConvertedSalary             665 non-null    float64
 3   Hobby                       999 non-null    object
 4   Country                     999 non-null    object
 5   StackOverflowJobsRecommend  487 non-null    float64
 6   VersionControl              999 non-null    object
 7   Age                         999 non-null    int64
 8   Years Experience            999 non-null    int64
 9   Gender                      693 non-null    object
 10  RawSalary                   665 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 86.0+ KB

In [5]:
data.describe()

       ConvertedSalary  ...  Years Experience
count     6.650000e+02  ...        999.000000
mean      9.256517e+04  ...          9.961962
std       2.091344e+05  ...          4.878129
min       0.000000e+00  ...          0.000000
25%       2.755000e+04  ...          7.000000
50%       5.556200e+04  ...         10.000000
75%       8.823800e+04  ...         13.000000
max       2.000000e+06  ...         27.000000

[8 rows x 4 columns]

In [6]:
data.head()

      SurveyDate  ...   RawSalary
0  2/28/18 20:20  ...         NaN
1  6/28/18 13:26  ...   70,841.00
2    6/6/18 3:37  ...         NaN
3    5/9/18 1:06  ...   21,426.00
4  4/12/18 22:41  ...  £41,671.00

[5 rows x 11 columns]

==========

## Feature Cleaning & Imputation Exercises

##### Q. Check for any missing data in the 'RawSalary' column and handle them wisely

In [7]:
from sklearn.impute import MissingIndicator

In [8]:
miss = MissingIndicator()

In [9]:
miss.fit_transform()

TypeError: ignored

In [11]:
data['RawSalary'].isna().sum()

334

In [13]:
data['RawSalary'].count()

665

##### Q. Check for any outliers in the 'RawSalary' column and handle them wisely

==========

## Feature Scaling & Normalizing Exercises

##### Q. Let's scale / normalize the data in the 'Age' column

==========

## Feature Encoding Exercises

##### Q. How about encoding the data in the 'Hobby' / 'Gender' column

##### Q. And also, we need to encode the 'Country' column

===========

# THANK YOU!